<!DOCTYPE html>
<html>
	<head>
		<title>IZCC Joker</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel='stylesheet' href='/stylesheets/index.css' />
	</head>
	<body>
		<div id="main">
			<h1>IZCC Poker</h1>
			<label for="email">email:</label>
			<input id="email" placeholder="email" type="text" required>
			<label for="password">password:</label>
			<input id="password" placeholder="password" type="password" required>
			<hr>
			<button id="login">LOGIN</button>
		</div>
		<script src="/javascripts/jquery-3.4.1.js"></script>
		<script src="/javascripts/index.js"></script>
	</body>
</html>
